h1,p,div{
    
    text-align: left;
    color: rgb(8, 35, 85);
    padding: 10px;
    width: 50%;
    display: inline;
}

h2, div{
    text-align: right;
    color: rgb(70, 255, 240);
    padding: 10px;
    width: 50%;
    display: inline;
}
a{
    border: 1px solid rgb(250, 5, 168);
    text-align: right;
    display: inline;
}
img{
    height: 70px;
    width: 70px;
}

div.menu{
    margin-left: 900px;
}







